.bio-body {
    display: flex;
    align-items: center;
}

.bio-body img {
    width: 25vw;
}

.bio-body .press-photo {
    margin: 0;
}

.bio-name {
    font-size: 3rem;
}

.bio {
    padding: 0 10%;
    font-size: 1.5rem;
    text-align: justify;
}

.cv-btn {
    border-radius: 16px;
    background-color: var(--pink-text);
    color: white;
    padding: 24px;
    border: 2px solid white;
    font-family: "Poppins", serif;
}

.bio-body a {
    color: white;
    padding: 0;
    margin-top: 32px;
}

.cv-btn a:visited {
    color: white;
}

.cv-btn:hover {
    color: black;
    transition: 300ms;
    border-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    .about .bio-name {
        font-size: 3rem;
    }

    .bio {
        font-size: 1.2rem;
    }

    .bio-body {
        flex-direction: column;
    }

    .bio-body img {
        width: 75vw;
        margin-top: 12px;
    }
}