.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel {
    min-height: 56vw;
    /* border: 1px solid red; */
}

.carousel-item {
    min-width: 100vw;
    min-height: 56vw;
    /* border: 1px solid red; */
    position: relative;

}

.home-bio {
    width: 80vw;
    margin: 16px auto;
    text-align: justify;
    font-size: 32px;
}

hr {
    width: 85%;
    margin-top: 32px;
}



form,
.contact-success-ctr {
    background-color: var(--box);
    border-radius: 12px;
    padding: 16px;
}

.contact-success-ctr {
    color: var(--blue-text);
    width: 75vw;
    margin: 0 auto;
}

label {
    color: var(--blue-text);
}


@media screen and (max-width: 700px) {
    .hero {
        justify-content: start;
    }

    .carousel {
        max-height: 30px;
    }

    .home-bio {
        font-size: 1.2rem;
    }

}